---
interface Props {
  links: string[];
}

const { links } = Astro.props as Props;
---

<nav class="hidden md:block">
  <ul class="flex lg:gap-12 md:gap-6">
    {
      links.map((link) => (
        <li>
          <a class="text-grayish-blue-700 hover:text-soft-red" href="/">
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
