---
import Header from "../components/Header/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <title>Rock Paper Scissors</title>
  </head>
  <body
    class="bg-gradient-radial from-indigo-100 to-indigo-700 min-h-screen p-6"
  >
    <main class="flex flex-col gap-40">
      <Header />
      <slot name="game" />
      <slot name="rules-button" />
    </main>
  </body>
</html>
