---
import Divider from "./Divider.astro";
import Article from "./Article.astro";
import type { GenericArticle } from "../types";

interface Props {
  articles: GenericArticle[];
}

const { articles } = Astro.props as Props;
---

<section class="flex flex-col gap-6 bg-dark-blue px-6 py-8" aria-labelledby="new-articles">
  <h2 id="new-articles" class="text-soft-orange font-bold text-3xl lg:text-4xl mb-2">New</h2>
  {
    articles.map((article, index, array) =>
      index < array.length - 1 ? (
        <Article article={article} />
        <Divider />
      ) : (
        <Article article={article} />
      )
    )
  }
</section>
