---
import Button from "./Button.astro";

interface Props {
  preview: string;
}

const { preview } = Astro.props as Props;
---

<div class="flex flex-col lg:justify-between gap-4">
  <p class="text-grayish-blue-700 text-sm leading-6">
    {preview}
  </p>
  <Button text="Read more" />
</div>
