---
import Scoreboard from "./Scoreboard";
---

<header
  class="flex justify-between items-center border-slate-100 border-2 rounded-md p-2 w-full md:w-[675px] md:px-5 md:py-4 md:rounded-2xl"
  aria-labelledby="page-title"
>
  <h1 id="page-title" class="sr-only">Rock Paper Scissors</h1>
  <img
    class="w-1/4 m-2"
    src="/logo.svg"
    alt="Rock Paper Scissors Logo"
    aria-hidden="true"
  />
  <Scoreboard client:load />
</header>
