---
import Header from "../components/Header/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <title>News Homepage</title>
  </head>
  <body class="grid place-items-center">
    <div class="px-4 py-8 lg:px-40 lg:py-20 max-w-screen-2xl">
      <Header links={["Home", "New", "Popular", "Trending", "Categories"]} />
      <main class="flex flex-col gap-16 lg:gap-6 lg:grid lg:grid-cols-3">
        <h1 class="sr-only">News Homepage</h1>
        <slot />
      </main>
    </div>
  </body>
</html>
